<h1>Edit Product</h1>
<form  [formGroup]="productFG">
<div class="row">
    <div class="col lg-6">
<label for="edit_name">product_name</label>
<input type="text" name="edit_prod_name" class="form-control" formControlName="productName">
</div>
<div class="col lg-6">
<label for="price">Price</label>

<input type="text" name="edit_prod_price" class="form-control" formControlName="price">
</div>
</div>
<div class="row">
<label for="desc">Description</label>
<textarea name="edit_desc" class="form-control" style="height: 200px;" formControlName="description"></textarea>
</div>
<br>
<button class="btn btn-primary" (click)="updateProduct()">Edit</button>
</form>